<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>导航</title>
<link href="/back/static/css/vendor.css?229e6e863134ec5e16d5" rel="stylesheet"><link href="/back/static/css/views/nav/nav.css?229e6e863134ec5e16d5" rel="stylesheet"></head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="/back/static/js/vendor.js?229e6e863134ec5e16d5"></script><script type="text/javascript" src="/back/static/js/views/nav/nav.js?229e6e863134ec5e16d5"></script></body>

</html>