<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>多粉客来驿PMS_智慧酒店管理系统_酒店客房管理软件_客来驿登录_用多粉，好生意</title>
  <meta name="keywords" content="多粉客来驿PMS，为商家提供一整套智能化的酒店运营管理方案，帮助酒店实现“去前台化”的目标，真正简化前台流程，减少运营成本，提升住户体验，提高管理水平，增加酒店收入。">
  <meta name="description" content="多粉客来驿PMS，为商家提供一整套智能化的酒店运营管理方案，帮助酒店实现“去前台化”的目标，真正简化前台流程，减少运营成本，提升住户体验，提高管理水平，增加酒店收入。">
<link href="/back/static/css/vendor.css?005ac8d3a64fda98a4a7" rel="stylesheet"><link href="/back/static/css/views/Order/index.css?005ac8d3a64fda98a4a7" rel="stylesheet"></head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/back/static/js/vendor.js?005ac8d3a64fda98a4a7"></script><script type="text/javascript" src="/back/static/js/views/Order/index.js?005ac8d3a64fda98a4a7"></script></body>

</html>